<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinos</title>
    <link rel="stylesheet" href="/static/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
    crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"></head>
<body>
    
    <div class="Container">
        
        <header class="header">
            <div class="barra_nav0">
                <h2 class="titulo">Jahamina Paraguay</h2>
            </div>
            <nav class="barra_nav">
                <section class="section_nav0">
                <!--    <p>Buscar <input type="search" name="" id=""></p>-->
                </section>
                <section class="section_nav">
                    <div class="nav_list">
                        <a href="index.html" class="tags">Inicio</a>
                        <a href="nosotros.html" class="tags">Sobre nosotros</a>
                        <a class="tags">Destinos</a>
                        <a href="gaastronomia.html" class="tags">Gastronomía</a>
                        <a href="relax.html" class="tags">Relax</a>
                        <a href="iniciesesion.html" class="tags">Iniciar Sesión</a>            
                    </div>
                </section>
                <section class="section_nav2">
                    <!--<img src="/static/imagenes/logoface.svg" alt="">
                    <img src="/static/imagenes/logoins.svg" alt="">
                    <img src="/static/imagenes/logopint.svg" alt="">
                    <img src="/static/imagenes/logotwi.svg" alt="">
                -->
                </section>
            </nav>
        </header>
        <main class="main">
            <section class="card1">                
                <div class="card1-1">
                    <p class="frases">Destinos</p>
                </div>


                <section class="accommodation-section">
                    <div class="sec-header">
                        <h2>Alojamientos para vacaciones en Luque</h2>
                        <p>Mejores calificaciones</p>
                    </div>
                
                    <div class="accommodations-container">
                        <div class="accommodation-cad">
                            <div >Superanfitrión</div>
                            <img src="https://imgs.search.brave.com/KO6GG2r6xUejX0u96m3mr3d_avE8CRu-fqXcA7MQdcE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jb250/ZW50LnI5Y2RuLm5l/dC9yaW1nL2hpbWcv/NDUvMjgvYTIvZXhw/ZWRpYXYyLTcyNjE0/MS04MDRjNTItMDc1/MTEyLmpwZz93aWR0/aD0zMzUmaGVpZ2h0/PTI2OCZjcm9wPXRy/dWU" alt="Departamento en complejo">
                            <div class="cad-info">
                                <h3>Departamento en complejo</h3>
                                <p>Estudio con estilo, GRAN PISCINA • ATENCIÓN: EL ESPACIO DE ESTACIONAMIENTO NO ESTÁ INCLUIDO, PERO ESTÁ DISPONIBLE POR UN COSTO ADICIONAL. Relájate en este...</p>
                                <div class="rating">
                                    <span>★ 4.83 (12)</span>
                                </div>
                            </div>
                        </div>
                
                        <div class="accommodation-cad">
                            <div >Favorito entre huéspedes</div>
                            <img src="https://imgs.search.brave.com/KO6GG2r6xUejX0u96m3mr3d_avE8CRu-fqXcA7MQdcE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jb250/ZW50LnI5Y2RuLm5l/dC9yaW1nL2hpbWcv/NDUvMjgvYTIvZXhw/ZWRpYXYyLTcyNjE0/MS04MDRjNTItMDc1/MTEyLmpwZz93aWR0/aD0zMzUmaGVpZ2h0/PTI2OCZjcm9wPXRy/dWU" alt="Departamento en complejo">
                            <div class="cad-info">
                                <h3>Departamento en complejo</h3>
                                <p>Precioso apartamento en Asunción. Lujoso apartamento en el piso 26 con increíbles vistas de 280 grados; totalmente equipado y espacioso que te hace sentir...</p>
                                <div class="rating">
                                    <span>★ 5 (21)</span>
                                </div>
                            </div>
                        </div>
                
                        <div class="accommodation-cad">
                            <div >Favorito entre huéspedes</div>
                            <img src="https://imgs.search.brave.com/KO6GG2r6xUejX0u96m3mr3d_avE8CRu-fqXcA7MQdcE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jb250/ZW50LnI5Y2RuLm5l/dC9yaW1nL2hpbWcv/NDUvMjgvYTIvZXhw/ZWRpYXYyLTcyNjE0/MS04MDRjNTItMDc1/MTEyLmpwZz93aWR0/aD0zMzUmaGVpZ2h0/PTI2OCZjcm9wPXRy/dWU" alt="Vivienda alquilada en Luque">
                            <div class="cad-info">
                                <h3>Vivienda alquilada en Luque</h3>
                                <p>Apartamento nuevo y cómodo cerca del aeropuerto. Piso con ubicación céntrica; a pocos pasos de Shopping del Sol y Paseo La Galería...</p>
                                <div class="rating">
                                    <span>★ 4.9 (40)</span>
                                </div>
                            </div>
                        </div>
    
                        <div class="accommodation-cad">
                            <div >Favorito entre huéspedes</div>
                            <img src="https://imgs.search.brave.com/KO6GG2r6xUejX0u96m3mr3d_avE8CRu-fqXcA7MQdcE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jb250/ZW50LnI5Y2RuLm5l/dC9yaW1nL2hpbWcv/NDUvMjgvYTIvZXhw/ZWRpYXYyLTcyNjE0/MS04MDRjNTItMDc1/MTEyLmpwZz93aWR0/aD0zMzUmaGVpZ2h0/PTI2OCZjcm9wPXRy/dWU" alt="Vivienda alquilada en Luque">
                            <div class="cad-info">
                                <h3>Vivienda alquilada en Luque</h3>
                                <p>Apartamento nuevo y cómodo cerca del aeropuerto. Piso con ubicación céntrica; a pocos pasos de Shopping del Sol y Paseo La Galería...</p>
                                <div class="rating">
                                    <span>★ 4.9 (40)</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>  



      
            <section class="card1">                
                <div class="card1-1">
                    <p class="frases">Destinos</p>
                </div>
            <section class="separar">
                <div class="cand-groupdes">
                    <div class="cand">
                        <img src="/static/imagenes/comidas-tipicas-paraguay-neahoy.jpeg">
                        <div class="layer"></div>
                        <div class="info">
                            <h2>Gastronomia</h2>
                            <p>Hecha un vistazo a las mejores comidas del Paraguay.</p>
                            <a href="gaastronomia.html"><button>Ver más</button></a>
                        </div>
                    </div>
                    
                    <div class="cand">
                        <img src="/static/imagenes/destinos.webp">
                        <div class="layer"></div>
                        <div class="info">
                            <h2>Destinos</h2>
                            <p>Hecha un vistazo a las mejores destinos del Paraguay.</p>
                            <a href="destinos.html"> <button>Ver más</button></a>
                        </div>
                    </div>
                    
                    <div class="cand">
                        <img src="/static/imagenes/maxresdefault.jpg">
                        <div class="layer"></div>
                        <div class="info">
                            <h2>Entretenimiento</h2>
                            <p>Hecha a los mejores pasatiempos que puedas tener.</p>
                            <a href="entretenimiento.html"><button >Ver más</button></a> 
                        </div>

                        
                    </section>

                    <section class="separar">
                        <div class="cand-groupdes">
                            <div class="cand">
                                <img src="/static/imagenes/comidas-tipicas-paraguay-neahoy.jpeg">
                                <div class="layer"></div>
                                <div class="info">
                                    <h2>Gastronomia</h2>
                                    <p>Hecha un vistazo a las mejores comidas del Paraguay.</p>
                                    <a href="gaastronomia.html"><button>Ver más</button></a>
                                </div>
                            </div>
                            
                            <div class="cand">
                                <img src="/static/imagenes/destinos.webp">
                                <div class="layer"></div>
                                <div class="info">
                                    <h2>Destinos</h2>
                                    <p>Hecha un vistazo a las mejores destinos del Paraguay.</p>
                                    <a href="destinos.html"> <button>Ver más</button></a>
                                </div>
                            </div>
                            
                            <div class="cand">
                                <img src="/static/imagenes/maxresdefault.jpg">
                                <div class="layer"></div>
                                <div class="info">
                                    <h2>Entretenimiento</h2>
                                    <p>Hecha a los mejores pasatiempos que puedas tener.</p>
                                    <a href="entretenimiento.html"><button >Ver más</button></a> 
                                </div>
                    </section>

                    <section class="banner-intermedio">
                        <p class="frases">Sitios alternativos</p>
                        <img src="/static/imagenes/senatur.png" class="img-alter">
                        <img src="/static/imagenes/visit-paraguay.png" alt="" class="img-alter">
                        <img src="/static/imagenes/atyguasu_logo.svg" alt="" class="img-alter">
                    </section>
        
                    <article class="banner2">
                        <!--banner de imagen central-->
                    </article>
        



 

            
            </main>

            <nav class="barra_navface">
                
                <img src="/static/imagenes/logoface.svg" alt="" class="icon-footer"> <p class="text_redess">Facebook</p>
                <img src="/static/imagenes/logoins.svg" alt="" class="icon-footer"> <p class="text_redess">Instagram</p>
                <img src="/static/imagenes/logopint.svg" alt="" class="icon-footer"><p class="text_redess">Pinterest</p>
                <img src="/static/imagenes/logotwi.svg" alt="" class="icon-footer"><p class="text_redess">Twitter</p>

        </nav>
      </div>




    </body>
    </html>