<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastronomia</title>
    <link rel="stylesheet" href="/static/estilos.css">
    <script src="/scripts/java.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
    crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"></head>
<body>
    
    <div class="Container">
        
        <header class="header">
            <div class="barra_nav0">
                <h2 class="titulo">Jahamina Paraguay</h2>
            </div>
            <nav class="barra_nav">
                <section class="section_nav0">
                <!--    <p>Buscar <input type="search" name="" id=""></p>-->
                </section>
                <section class="section_nav">
                    <div class="nav_list">
                        <a href="index.html" class="tags">Inicio</a>
                        <a href="nosotros.html" class="tags">Sobre nosotros</a>
                        <a href="destinos.html"class="tags">Destinos</a>
                        <a class="tags">Gastronomía</a>
                        <a href="relax.html" class="tags">Relax</a>
                        <a href="iniciesesion.html" class="tags">Iniciar Sesión</a>            
                    </div>
                </section>
                <section class="section_nav2">
                    <!--<img src="/static/imagenes/logoface.svg" alt="">
                    <img src="/static/imagenes/logoins.svg" alt="">
                    <img src="/static/imagenes/logopint.svg" alt="">
                    <img src="/static/imagenes/logotwi.svg" alt="">
                -->
                </section>
            </nav>
        </header>

        <main class=".main">

            <section class="card1">                
                <div class="card1-1">
                    <p class="frases">Gastronomia</p>
                </div>

                <section class="accommodation-section">
                    <div class="sec-header">
                        <h2>Locales Gastronomicos.</h2>
                        <p>Mejores calificaciones</p>
                    </div>
                
                    <div class="sepgas2">
                        <div class="accommodations-container">
                            <div class="accommodation-cad">
                                <div class="con">
                                <div ><h5><b>Pyhare Pizza</b></h5></div>
                                <img src="/static/imagenes/pyhare.jpeg">
                                <div class="cad-info">
                                    
                                    <h3>Luque</h3>
    
                                    <p>Pyhare pizza es un lugar gastronómico accesible 
                                        a todo publico ubicado  en la calle Benito Juarez 
                                        579. 
                                        Cuenta con un menú variado de distintos tipos de 
                                        alimentos y tragos.Su principal atracción son los 
                                        shows de los mitos paraguayos como “Pombero” 
                                        </p>
                                        <p class="text">,“Jasy Jatere”, entre otros. </p>
     
                                        <button onclick="toggleText(this)" class="con">Ver más</button>
    
                                        <div class="rating">
                                        <span >★ 4.83 (12)</span>
                                        </div>
                                </div>
                            </div>
                        </div>
                    
                            <div class="accommodation-cad">
                                <div class="con">
                                <div ><h5><b>La Cabrera</b></h5></div>
                                <img src="/static/imagenes/lacabrera.webp">
                                <div class="cad-info">
                                    <h3>Asunción</h3>
    
                                    <p >La Cabrera es una casa de carnes que respeta la 
                                        tradición y la esencia de la familia argentina, 
                                        rindiendo un orgulloso tributo a la cultura culinaria 
                                        del Río de la Plata. 
                                        Todo el recorrido que vivencian las personas 
                                        desde que llegan </p>
                                        <p class="text">hasta que se van, está pensado 
                                        para despertar sus
                                        sentidos donde los aromas y 
                                        sabores del lugar les hacen vivir una experiencia 
                                        gastronómica única e inigualable.   </p>
                                        <button onclick="toggleText(this)" class="con">Ver más</button>
    
                                        <div class="rating">
                                            <span>★ 5 (21)</span>
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                    
                            <div class="accommodation-cad">
                                <div class="con">
                                <div ><h5><b>Terracota</b></h5></div>                     
                                       <img src="/static/imagenes/terracota.png">
                                <div class="cad-info">
                                    <h3> Aregua</h3>
    
                                    <p>El restaurante se encuentra en el centro mismo 
                                        de la ciudad, al lado de la municipalidad local, y 
                                        además de contar con un variado menú para 
                                        desayuno, almuerzo, merienda y cena, así como 
                                        también minutas saladas y dulces al paso, </p>
    
                                        <p class="text">ofrece la experiencia de conocer la 
                                        vinoteca donde los 
                                        visitantes pueden bajar a elegir los vinos de su 
                                        preferencia.  </p>
                                        <button onclick="toggleText(this)">Ver más</button>
    
                                        <div class="rating">
                                            <span>★ 4.9 (40)</span>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
        
                            <div class="accommodation-cad">
                                <div class="con">
                                <div ><h5><b>Casa Burger</b></h5></div>                     
                                <img src="/static/imagenes/casabc.jpeg">
                                <div class="cad-info">
                                    <h3>Capiata</h3>
                                    <p>Casa Burger es una casa preparada para darte la 
                                        mejor experiencia en sabor y entretenimiento con 
                                        un menú coloquial, pero con un trato y atención 
                                        de primer nivel, con opciones variadas desde 
                                        hamburguesas gourmet,</p><p class="text">tragos, pizzas, helados 
                                        y todo tipo de bebidas. </p>
                                        <button onclick="toggleText(this)">Ver más</button>
    
                                        <div class="rating">
                                            <span>★ 4.9 (40)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div ><a href="gastronomia2.0.html" class="card-textgas">Ver más</a> </div> 
                </section>  
                <div class="cont_cuadros">
                    <div class="card1"> <div class="texto-estatico"><h1>INFORMACIÓN ESENCIAL</h1></div></div>
                     <div class="inf-grid">
                         <div class="inf-item">
                     
                             <p>Heladerías</p>
                         </div>
                         <div class="inf-item">
                             
                             <p> Cafeterías</p>
                         </div>
                         <div class="inf-item">
                             <p>Hamburguerserías</p>
                         </div>
                         <div class="inf-item">
                             <p>Pizzerías</p>
                         </div>
                         <div class="inf-item">
                             <p>Confiterías</p>
                         </div>
                         <div class="inf-item">
                             <p>Churrasquerías</p>
                         </div>
                         <div class="inf-item">
                             <p>Divisas y cambio de moneda</p>
                         </div>
                         <div class="inf-item">
                             <p>Impuestos y Propinas</p>
                         </div>
                         <div class="inf-item">
                             <p>Idioma</p>
                         </div>
                         <div class="inf-item">
                             <p>Servicios de Salud</p>
                         </div>
                         <div class="inf-item">
                             <p>Seguridad</p>
                         </div>
                         <div class="inf-item">
                             <p>Comunicaciones</p>
                         </div>
                     </div>
                 </div>
            </section>



            <nav class="barra_navface">
                
                <img src="/static/imagenes/logoface.svg" alt="" class="icon-footer"> <p class="text_redess">Facebook</p>
                <img src="/static/imagenes/logoins.svg" alt="" class="icon-footer"> <p class="text_redess">Instagram</p>
                <img src="/static/imagenes/logopint.svg" alt="" class="icon-footer"><p class="text_redess">Pinterest</p>
                <img src="/static/imagenes/logotwi.svg" alt="" class="icon-footer"><p class="text_redess">Twitter</p>

        </nav>
        
        </main>
    </div>
    </body>
    </html>