<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gastronomia</title>
    <link rel="stylesheet" href="/static/estilos.css">
    <script src="/scripts/java.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
    crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"></head>
<body>
    
    <div class="Container">
        
        <header class="header">
            <div class="barra_nav0">
                <h2 class="titulo">Jahamina Paraguay</h2>
            </div>
            <nav class="barra_nav">
                <section class="section_nav0">
                <!--    <p>Buscar <input type="search" name="" id=""></p>-->
                </section>
                <section class="section_nav">
                    <div class="nav_list">
                        <a href="index.html" class="tags">Inicio</a>
                        <a href="nosotros.html" class="tags">Sobre nosotros</a>
                        <a href="destinos.html"class="tags">Destinos</a>
                        <a href="gaastronomia.html" class="tags">Gastronomía</a>
                        <a href="relax.html" class="tags">Relax</a>
                        <a href="iniciesesion.html" class="tags">Iniciar Sesión</a>            
                    </div>
                </section>
                <section class="section_nav2">
                    <!--<img src="/static/imagenes/logoface.svg" alt="">
                    <img src="/static/imagenes/logoins.svg" alt="">
                    <img src="/static/imagenes/logopint.svg" alt="">
                    <img src="/static/imagenes/logotwi.svg" alt="">
                -->
                </section>
            </nav>
        </header>

        <main class=".main">

            <section class="card1">                
                <div class="card1-1">
                    <p class="frases">Gastronomia</p>
                </div>

                <section class="accommodation-section">
                    <div class="sec-header">
                        <h2>Locales Gastronomicos.</h2>
                        <p>Mejores calificaciones</p>
                    </div>
                    
                <div class="sepgas2">
                    <div class="accommodations-container">
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>Pyhare Pizza</b></h5></div>
                            <a href="pagi.html"><img src="/static/imagenes/pyhare.jpeg"  class="imagengass"></a>
                            <div class="cad-info">
                                
                                <h3>Luque</h3>

                                <p>Pyhare pizza es un lugar gastronómico accesible 
                                    a todo publico ubicado  en la calle Benito Juarez 
                                    579. 
                                    Cuenta con un menú variado de distintos tipos de 
                                    alimentos y tragos.Su principal atracción son los 
                                    shows de los mitos paraguayos como “Pombero” 
                                    </p>
                                    <p class="text">,“Jasy Jatere”, entre otros. </p>
 
                                    <button onclick="toggleText(this)" class="con">Ver más</button>

                                    <div class="rating">
                                    <span >★ 4.83 (12)</span>
                                    </div>
                            </div>
                        </div>
                    </div>
                
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>La Cabrera</b></h5></div>
                            <img src="/static/imagenes/lacabrera.webp" class="imagengass">
                            <div class="cad-info">
                                <h3>Asunción</h3>

                                <p >La Cabrera es una casa de carnes que respeta la 
                                    tradición y la esencia de la familia argentina, 
                                    rindiendo un orgulloso tributo a la cultura culinaria 
                                    del Río de la Plata. 
                                    Todo el recorrido que vivencian las personas 
                                    desde que llegan </p>
                                    <p class="text">hasta que se van, está pensado 
                                    para despertar sus
                                    sentidos donde los aromas y 
                                    sabores del lugar les hacen vivir una experiencia 
                                    gastronómica única e inigualable.   </p>
                                    <button onclick="toggleText(this)" class="con">Ver más</button>

                                    <div class="rating">
                                        <span>★ 5 (21)</span>
    
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>Terracota</b></h5></div>                     
                                   <img src="/static/imagenes/terracota.png" class="imagengass">
                            <div class="cad-info">
                                <h3> Aregua</h3>

                                <p>El restaurante se encuentra en el centro mismo 
                                    de la ciudad, al lado de la municipalidad local, y 
                                    además de contar con un variado menú para 
                                    desayuno, almuerzo, merienda y cena, así como 
                                    también minutas saladas y dulces al paso, </p>

                                    <p class="text">ofrece la experiencia de conocer la 
                                    vinoteca donde los 
                                    visitantes pueden bajar a elegir los vinos de su 
                                    preferencia.  </p>
                                    <button onclick="toggleText(this)">Ver más</button>

                                    <div class="rating">
                                        <span>★ 4.9 (40)</span>
                                    </div>

                                </div>
                            </div>
                        </div>
    
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>Casa Burger</b></h5></div>                     
                            <img src="/static/imagenes/casabc.jpeg" class="imagengass">
                            <div class="cad-info">
                                <h3>Capiata</h3>
                                <p>Casa Burger es una casa preparada para darte la 
                                    mejor experiencia en sabor y entretenimiento con 
                                    un menú coloquial, pero con un trato y atención 
                                    de primer nivel, con opciones variadas desde 
                                    hamburguesas gourmet,</p><p class="text">tragos, pizzas, helados 
                                    y todo tipo de bebidas. </p>
                                    <button onclick="toggleText(this)">Ver más</button>

                                    <div class="rating">
                                        <span>★ 4.9 (40)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                        <div class="sepgas2">
                    <div class="accommodations-container">
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>Medialunas Calentitas</b></h5></div>
                            <img src="/static/imagenes/medialun.jpg" class="imagengass">
                            <div class="cad-info">
                                
                                <h3>Luque</h3>

                                <p>Medialunas Calentitas es una cafetería 
                                    ubicada en América 45 casi Gral. Aquino, 
                                    Luque. 
                                    Cuenta con un menú variado de alimentos 
                                    dulces y salados y el principal producto son 
                                    las medialunas.  La sucursal de Luque, 
                                        de amplias dimensiones,</p><p class="text">está ubicada sobre la calle América, 
                                        en la curva detrás del local de verano del Club Balderrama, 
                                        un punto de paso obligado para quienes salen de la vecina ciudad en dirección a la capital.</p>
                                    <button onclick="toggleText(this)">Ver más</button>

                                    <div class="rating">
                                        <span>★ 4.50 (20)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>El Café de Acá</b></h5></div>
                            <img src="/static/imagenes/elcafedeaca.webp" class="imagengass">
                            <div class="cad-info">
                                <h3>Asunción</h3>

                                <p>El Café de Aca es un restaurante con un menú 
                                    que cuenta con Desayuno, Comidas, Cenas, 
                                    Brunch, bebidas, además incluye opciones 
                                    vegetarianas, opciones veganas y opciones sin 
                                    gluten. 
                                    Cuenta con varias sucursales en la ciudad.</p><p class="text">Los clientes han destacado la atención excelente,
                                         la comida deliciosa y el personal recomendable. Sin embargo, algunos han criticado la exclusión de solteros 
                                         y la falta de estacionamiento. A pesar de esto, la mayoría de los clientes han calificado su experiencia como positiva,
                                          con una puntuación promedio de 4.5 sobre 5 estrellas en Tripadvisor.</p>
                                          <button onclick="toggleText(this)">Ver más</button>

                                          <div class="rating">
                                            <span>★ 4.74 (18)</span>
                                        </div>
                                </div>
                            </div>
                        </div>
                
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>Patrimonio Resto Bar</b></h5></div>                     
                                   <img src="/static/imagenes/patrimonioresto.jpg" class="imagengass">
                            <div class="cad-info">
                                <h3> Aregua</h3>

                                <p>Patrimonio Resto bar es un restaurante ubicado 
                                    en la calle Carlos Antonio López c/ Bernardino 
                                    Caballero, 2000. Cuentan con un menú variado y 
                                    distintas promociones durante la semana.   Los Sabados son de Show en vivo!</p>
                                    <p class="text"> para disfrutar de la mejor gastronomía de Areguá en un ambiente cálido y agradable.</p>
                                    <button onclick="toggleText(this)">Ver más</button>

                                    <div class="rating">
                                        <span>★ 4.8 (33)</span>
                                    </div>
                                </div>

                            </div>
                        </div>
    
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>Offside Futbol Bar</b></h5></div>                     
                            <img src="/static/imagenes/offsidebar.jpg" class="imagengass">
                            <div class="cad-info">
                                <h3>Capiata</h3>
                                <p>Offside Futbol Bar es un restaurante ubicado en 
                                    la calle 12 de octubre, ofrece un menú variado 
                                    que cuenta con picadas, hamburguesas, pizzas y 
                                    bebidas. Cuenta con un ambiente de futbol 
                                    especial para reuniones con amigos.  </p>
                                    <p class="text">Es un lugar popular para seguir ligas locales, internacionales,
                                         y eventos deportivos importantes como la Copa Mundial.</p>
                                    <button onclick="toggleText(this)">Ver más</button>

                                    <div class="rating">
                                        <span>★ 4.5 (24)</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                        <div class="sepgas2">
                    <div class="accommodations-container">
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>Bacon </b></h5></div>
                            <img src="/static/imagenes/baconluque.jpeg" class="imagengass">
                            <div class="cad-info">
                                
                                <h3>Luque</h3>

                                <p>Bacon es un restaurante de comida rápida de 
                                    Hamburguesas que además cuenta con una 
                                    extensión del local llamada “Panceta” donde 
                                    tienen una variedad de distintos tipos de lomitos.  
                                    La marca cuenta con dos sucursales en Luque 
                                    una ubicada en  </p><p class="text">Av. Gral. Aquino y la otra en 
                                    plaza madero.  Especialidad en Platos con Bacon: Como su nombre indica,
                                     Bacon se especializa en platos que incorporan este ingrediente,
                                      desde hamburguesas, sándwiches, y hot dogs, hasta ensaladas y platos más creativos.
                                       Su menú celebra el bacon de diversas maneras, convirtiéndolo en el ingrediente estrella.</p>
                                    <button onclick="toggleText(this)">Ver más</button>


                                    <div class="rating">
                                        <span>★ 4.6 (15)</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>Bar Casa Clari  </b></h5></div>
                            <img src="/static/imagenes/casaclari.jpeg" class="imagengass">
                            <div class="cad-info">
                                <h3>Asunción</h3>

                                <p>Ubicado en Asunción, Paraguay, Bar Casa Clari 
                                    es un establecimiento que ofrece una vista impresionante del Palacio de López. 
                                    Aunque su servicio puede ser irregular, la vista y el 
                                    ambiente pintoresco son destacables. 
                                    Bar Casa Clari es un lugar </p><p class="text">ideal para disfrutar de una vista
                                     impresionante y
                                    un ambiente pintoresco en Asunción.</p>   
                                    <button onclick="toggleText(this)">Ver más</button>
 
 
                                    <div class="rating">
                                        <span>★ 4.7 (16)</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>La Escondida </b></h5></div>                     
                                   <img src="/static/imagenes/escondida.jpg" class="imagengass">
                            <div class="cad-info">
                                <h3> Aregua</h3>

                                <p>La Escondida es un restaurante al aire libre en un 
                                    70%. Ofrece un menú de comidas rápidas: 
                                    pizzas, hamburguesas, lomitos, wraps (tortillas 
                                    mexicanas), quesadillas, picaña, picadas de 
                                    carnes y choricitos con verduras salteadas,</p>
                                    <p class="text"> 
                                    parrillitas con carnes variadas; así como recetas 
                                    más saludables como ensalada césar y pollo 
                                    grillé con ensalada verde, etc.    </p>
                                    <button onclick="toggleText(this)">Ver más</button>

                                    <div class="rating">
                                        <span>★ 4.69 (19)</span>
                                    </div>
                                </div>
                      
                            </div>
                        </div>
    
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>Pizzeria Kokorico </b></h5></div>                     
                            <img src="/static/imagenes/kokoriko.jpeg" class="imagengass">
                            <div class="cad-info">
                                <h3>Capiata</h3>
                                <p>La pizzería “Kokorico” es un restaurante que 
                                    ofrece salones climatizados y áreas al aire libre, 
                                    además cuenta con varias opciones en el menú 
                                    como Pizzas artesanalas al ‘tatakua’, 
                                    hamburguesas gourmet, lomitos y bebidas.  </p>
                                    <p class="text"> Además de las pizzas,
                                         Kokorico ofrece una variedad de otros platos como pastas, ensaladas, y aperitivos,
                                          que complementan perfectamente su oferta principal. 
                                          También cuentan con opciones para quienes prefieren algo más ligero o diferente.</p>
                                    <button onclick="toggleText(this)">Ver más</button>

                                    <div class="rating">
                                        <span>★ 4.5 (12)</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                        <div class="sepgas2">
                    <div class="accommodations-container">
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>Doña Angela  </b></h5></div>
                            <img src="/static/imagenes/doñaangela.jpg" class="imagengass">
                            <div class="cad-info">
                                
                                <h3>Luque</h3>

                                <p>Doña Angela es una heladería que cuenta con 
                                    una gran variedad de sabores de helados 
                                    artesanales.  
                                    Tambien cuenta con un menú variado de 
                                    alimentos salados.  
                                    Ubicado en  Ruta 3 General Elizardo Aquino 
                                    esquina Teniente </p><p class="text">rivas  Supermercado los 
                                    jardines. Doña Ángela es conocida por su atención personalizada y amable. 
                                    El personal se esmera en brindar un servicio cercano y atento, haciendo sentir a los clientes como en casa.  </p>
                                    <button onclick="toggleText(this)">Ver más</button>

                                    <div class="rating">
                                        <span>★ 4.99 (32)</span>
                                    </div>
                                </div>
 
                            </div>
                        </div>
                
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>Lido Bar   </b></h5></div>
                            <img src="/static/imagenes/lidobar.jpg" class="imagengass">
                            <div class="cad-info">
                                <h3>Asunción</h3>

                                <p>Lido bar es uno de los restaurantes más 
                                    conocidos y antiguos de la ciudad. 
                                    Se caracteriza por su cordial atención y por 
                                    ofrecer diferentes opciones gastronómicas de 
                                    sabor único, basadas en materia prima de 
                                    primera calidad que van desde minutas,</p> <p class="text">pastas 
                                    caseras, tartas, postres, milanesas y sándwiches. 
                                    Entre sus principales platos se destacan el caldo 
                                    de surubí, uno de los favoritos de los 
                                    comensales, que se prepara con lomo de surubí 
                                    y un toque secreto del Lido. 
                                </p>    
                                <button onclick="toggleText(this)">Ver más</button>


                                <div class="rating">
                                    <span>★ 5 (11)</span>
                                </div>
                            </div>

                            </div>
                        </div>
                
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>La Palmera </b></h5></div>                     
                                   <img src="/static/imagenes/lapalme.jpeg" class="imagengass">
                            <div class="cad-info">
                                <h3> Aregua</h3>

                                <p>Con su resplandeciente costa blanca,
                                     aguas turquesas y exuberantes palmeras verdes,
                                      Punta Cana es el lugar perfecto para explorar, 
                                      recargar energías y distenderse. Visita nuestra selección de playas soleadas,
                                       resorts sofisticados y</p> <p class="text">rincones favoritos de los lugareños
                                        con increíbles vistas al atardecer para descubrir los lujos costeros 
                                        y la belleza natural que hacen de esta joya caribeña un destino de primer nivel.   </p>

                                        <button onclick="toggleText(this)">Ver más</button>

                                        <div class="rating">
                                            <span>★ 4.95 (23)</span>
                                        </div>
                                    </div>

                            </div>
                        </div>
    
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>El Parrillero </b></h5></div>                     
                            <img src="/static/imagenes/elparri.jpeg" class="imagengass">
                            <div class="cad-info">
                                <h3>Capiata</h3>
                                <p>Este restaurante es conocido por sus parrilladas al estilo paraguayo 
                                    y su amplia variedad de pizzas al horno de leña. Ofrece un ambiente familiar y relajado,
                                    ideal para reuniones en grupo. El Parrillero es famoso por sus parrilladas, ofreciendo</p>
                                     <p class="text">una amplia 
                                    variedad de cortes de carne, como costillas, vacío, chorizos, lomito, y pollo a la parrilla. 
                                    Sus asados se preparan con maestría, resaltando los sabores auténticos
                                     de la carne paraguaya cocinada al carbón.  </p>

                                    <button onclick="toggleText(this)">Ver más</button>

                                    <div class="rating">
                                        <span>★ 4.94 (26)</span>
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>


                        <div class="sepgas2">
                    <div class="accommodations-container">
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>Kessel   </b></h5></div>
                            <img src="/static/imagenes/kessel.jpg" class="imagengass">
                            <div class="cad-info">
                                
                                <h3>Ypacarai</h3>

                                <p>Kessel es un restaurante ubicado en la calle Ruta 
                                    2, Mcal. Estigarribia km 41. Ofrece cerveza 
                                    artesanal de la casa y un menú variado de 
                                    muchos alimentos.  El restaurante se enfoca en utilizar 
                                    ingredientes frescos y de alta calidad, lo</p><p class="text"> que se refleja en la frescura 
                                    y el sabor de los platos. Además, el servicio es conocido por ser amable y atento, 
                                    contribuyendo a una experiencia culinaria placentera.</p>

                                    <button onclick="toggleText(this)">Ver más</button>

                                    <div class="rating">
                                        <span>★ 4.88 (19)</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>Tacuaral Resto Bar    </b></h5></div>
                            <img src="/static/imagenes/tacuaralresto.jpeg" class="imagengass">
                            <div class="cad-info">
                                <h3>Ypacarai</h3>

                                <p>Tacuaral es un restaurante  
                                    Ubicado en la calle Av. Carlos A. Lopez, 
                                    Ypacaraí. Ofrece con un menú variado además 
                                    de contar con comidas típicas de la época. 
                                    El menú del Tacuaral Resto Bar incluye una variedad
                                     de platos que van desde</p><p class="text"> opciones locales típicas hasta opciones 
                                     internacionales. Ofrecen tanto comidas rápidas como platos más elaborados,
                                      lo que permite a los clientes elegir según su apetito y preferencias.</p>    
                            
                            <button onclick="toggleText(this)">Ver más</button>

                          
                            <div class="rating">
                                <span>★ 5 (20)</span>
                            </div>
                        </div>
                            </div>
                        </div>
                
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>Restaurante el Galpon  </b></h5></div>                     
                                   <img src="/static/imagenes/restaurantgalpon.jpg" class="imagengass">
                            <div class="cad-info">
                                <h3> Ypacarai</h3>

                                <p>El restaurante El Galpon es un restaurante 
                                    ubicado en Mompox, Ypacaraí, ofrece espacios 
                                    al aire libre y cuenta con un menú con pastas, 
                                    hamburguesas, pizzas y bebidas en general. 
                                      El Galpón se caracteriza por su decoración rústica y</p><p class="text"> cálida, 
                                      evocando una sensación de hogar. El ambiente es informal y amigable, 
                                      con un diseño que combina elementos tradicionales con un toque moderno.
                                       El restaurante tiene un estilo que puede recordar a una típica parrilla paraguaya,
                                        lo que contribuye a una experiencia auténtica.</p>
                                        <button onclick="toggleText(this)">Ver más</button>

                                    <div class="rating">
                                        <span>★ 4.9 (25)</span>
                                    </div>
                                </div>
                         
                            </div>
                        </div>
    
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>La terraza Resto Bar  </b></h5></div>                     
                            <img src="/static/imagenes/laterraza.jpeg" class="imagengass">
                            <div class="cad-info">
                                <h3>Villa Elisa</h3>
                                <p>La Terraza Resto bar es un restaurante ubicado 
                                    Virgen de Loreto, Villa Elisa con un menú que 
                                    cuenta con hamburguesas, pizzas, chopps y 
                                    otros tipos de bedidas. La Terraza Resto Bar cuenta
                                     con una decoración moderna y acogedora, con una</p><p class="text"> terraza 
                                     al aire libre que permite disfrutar de las comidas en un entorno relajado.
                                      La terraza es ideal para las noches agradables, proporcionando una vista agradable 
                                      y una atmósfera tranquila. El interior del restaurante está diseñado para crear un 
                                      espacio acogedor y elegante, perfecto para una comida casual o una cena más formal.  </p>
                                      <button onclick="toggleText(this)">Ver más</button>

                                      <div class="rating">
                                        <span>★ 4.4 (10)</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                        <div class="sepgas2">
                    <div class="accommodations-container">
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>Kokocup Kitchen   </b></h5></div>
                            <img src="/static/imagenes/kokocup.jpeg" class="imagengass">
                            <div class="cad-info">
                                
                                <h3>Villa Elisa</h3>

                                <p>Kokocup Kitchen es un restaurante ubicado en c/ 
                                    isla po'i, Pratt Gill, Villa Elisa, que ofrece un menú 
                                    variado con desayunos, almuerzos, meriendas y 
                                    postres. Kokocup Kitchen tiene una decoración moderna y elegante,</p>
                                    <p class="text">
                                    combinando elementos contemporáneos con un toque acogedor. 
                                    El ambiente es relajado, ideal tanto para comidas familiares
                                     como para cenas más informales con amigos. La atmósfera está diseñada
                                      para crear un espacio agradable y cómodo, con un énfasis en la estética
                                       que mejora la experiencia gastronómica. </p>

                                    
                                    <button onclick="toggleText(this)">Ver más</button>

                                    <div class="rating">
                                        <span>★ 4.80 (11)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>Estacion Gourmet     </b></h5></div>
                            <img src="/static/imagenes/lacabrera.webp" class="imagengass">
                            <div class="cad-info">
                                <h3>Villa Elisa</h3>

                                <p>Estacion Gourmet ubicado en Von Poleski, Villa 
                                    Elisa, cuenta un menú variado con desayunos, 
                                    almuerzos, meriendas y cena además de ofrecer 
                                    atención de 24hs diarias. stación Gourmet suele 
                                    ofrecer una amplia gama de opciones gastronómicas</p>
                                    <p class="text"> que incluyen 
                                    tanto platos locales como internacionales. Puedes encontrar desde
                                     comidas tradicionales paraguayas hasta opciones más exóticas,
                                      preparadas con ingredientes frescos y de alta calidad. </p>   
                                
                                <button onclick="toggleText(this)">Ver más</button>

                                <div class="rating">
                                    <span>★ 5 (21)</span>
                                </div>
                            </div>
              
                            </div>
                        </div>
                
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>La Alemanita  </b></h5></div>                     
                                   <img src="/static/imagenes/lalemanita.jpg" class="imagengass">
                            <div class="cad-info">
                                <h3> San Lorenzo</h3>

                                <p>La Alemanita es un restaurante y confitería 
                                    ubicada en San Lorenzo cuenta con desayunos, 
                                    almuerzos y meriendas. Como su nombre indica, 
                                    La Alemanita se especializa en la cocina alemana. 
                                    Esto incluye una variedad de platos</p><p class="text">tradicionales como salchichas,
                                     schnitzels, chucrut y platos a base de carne, acompañados de
                                      guarniciones típicas alemanas. El menú puede ofrecer una experiencia
                                       auténtica de la gastronomía germana en un entorno local.  </p>

                                    <button onclick="toggleText(this)">Ver más</button>
                                    <div class="rating">
                                        <span>★ 4.20 (26)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>La Cafeteka  </b></h5></div>                     
                            <img src="/static/imagenes/cafeteka.jpg" class="imagengass">
                            <div class="cad-info">
                                <h3>San Lorenzo</h3>
                                <p>La Cafeteka es un establecimiento independiente 
                                    que sirve cafés de especialidad, tés y comidas 
                                    ligeras con un toque paraguayo, ubicado en 
                                    Paseo Amelia Av. Mariscal López, San Lorenzo. Además del café, 
                                    La Cafeteka ofrece una</p><p class="text"> variedad de opciones gastronómicas que pueden
                                     incluir pasteles, bocadillos, sandwiches y otros acompañamientos.
                                      La oferta está diseñada para complementar el café, proporcionando
                                       opciones deliciosas para acompañar tu bebida.  </p>

                                       <button onclick="toggleText(this)">Ver más</button>
                                       <div class="rating">
                                        <span>★ 4.35 (38)</span>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                        <div class="sepgas2">
                    <div class="accommodations-container">
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>La Vienesa    </b></h5></div>
                            <img src="/static/imagenes/lavienesa.jpg" class="imagengass">
                            <div class="cad-info">
                                
                                <h3>San Lorenzo</h3>

                                <p>La Vienesa es un restaurante que cuenta con 
                                    Platos gourmet, Cafetería, confitería, rosticería, 
                                    sándwiches y mucho mas ubicado en Av. 
                                    Mariscal López, San Lorenzo. La Vienesa es conocida por 
                                    su variada oferta de alimentos que incluye</p> <p class="text">tanto platos 
                                    principales como opciones de repostería. Su menú suele ofrecer 
                                    una mezcla de platos internacionales y locales, con una especialidad 
                                    en productos de panadería y pastelería, como croissants, panes artesanales y pasteles.  </p>

                                    <button onclick="toggleText(this)">Ver más</button>


                                    <div class="rating">
                                        <span>★ 4.55 (22)</span>
                                    </div>
                                </div>
                   
                            </div>
                        </div>
                
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>Diablada     </b></h5></div>
                            <img src="/static/imagenes/diabladaa.jpg" class="imagengass">
                            <div class="cad-info">
                                <h3>San Bernardino</h3>

                                <p>Diablada ofrece meriendas, cenas, tragos y 
                                    cocteles, además de ser muy conocido por ser 
                                    ofrecer una vista exclusiva al momento del 
                                    atardecer. Diablada a menudo organiza eventos y
                                     actividades especiales, como música en vivo, shows 
                                     y </p><p class="text">noches temáticas. Esto contribuye a un ambiente entretenido
                                      y dinámico, ideal para disfrutar de una noche fuera con amigos o familiares.
                                </p>    

                                <button onclick="toggleText(this)">Ver más</button>

                                <div class="rating">
                                    <span>★ 5 (37)</span>
                                </div>
                            </div>
                             
                            </div>
                        </div>
                
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>O Gaucho  </b></h5></div>                     
                                   <img src="/static/imagenes/o gaucho.jpeg" class="imagengass">
                            <div class="cad-info">
                                <h3> San Bernardino</h3>

                                <p>El popular restó O Gaúcho ofrece un lugar 
                                    cómodo, con salones climatizados y al aire libre, 
                                    además, los fines de semana propone para los 
                                    comensales música en vivo en el patio, una barra 
                                    de tragos, área de juegos para niños y un 
                                    ambiente</p><p class="text"> familiar.  El restaurante ofrece una
                                     variedad de bebidas que complementan la comida, 
                                     incluyendo vinos locales, cervezas y bebidas tradicionales. 
                                     También es posible que encuentres tereré, una bebida tradicional 
                                     paraguaya hecha con yerba mate.  </p>

                                    <button onclick="toggleText(this)">Ver más</button>


                                    <div class="rating">
                                        <span>★ 4.92 (42)</span>
                                    </div>
                                </div>
                           
                            </div>
                        </div>
    
                        <div class="accommodation-cad">
                            <div class="con">
                            <div ><h5><b>San Beer    </b></h5></div>                     
                            <img src="/static/imagenes/sanbeer.jpg" class="imagengass">
                            <div class="cad-info">
                                <h3>San Bernardino</h3>
                                <p>San Beer es un rincón pensado para la gente que 
                                    viene a San Bernardino a disfrutar de un 
                                    hermoso atardecer con vista al lago, que busca la 
                                    agradable brisa de la noche típica de SamBer, un 
                                    lugar para pasar alegre con los amigos y la</p><p class="text">
                                    familia, saboreando ricas comidas que dan una 
                                    buena base para degustar una variedad 
                                    tremenda de exquisitas cervezas artesanales 
                                    hecha por paraguayos.   </p>

                                    <button onclick="toggleText(this)">Ver más</button>

                                    <div class="rating">
                                        <span>★ 4.9 (34)</span>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>

                        <div class="sepgas2" >
                            <div class="no">
                    <div class="accommodation-cad">
                        <div class="con">
                        <div ><h5><b>Capitão Bar     </b></h5></div>                     
                        <img src="/static/imagenes/capitaobar.jpg" class="imagengass">
                        <div class="cad-info">
                            <h3>Ciudad del Este</h3>
                            <p>Capitao bar es un resto bar que 
                                ofrece  Comidas típicas paraguayas, 
                                brasileras, mexicanas y japonesas. Show en 
                                vivo, Carta de vinos, Tragos, Happy Hour, 
                                Chopps, Futbol en vivo  Capitão Bar es conocido por
                                 su servicio amable y</p><p class="text"> eficiente. El personal está capacitado 
                                 para ofrecer recomendaciones y asegurarse de que los clientes 
                                 disfruten de su experiencia. También puede ofrecer opciones como 
                                 servicio de mesa y eventos especiales, dependiendo de la ocasión.  </p>

                                 <button onclick="toggleText(this)">Ver más</button>

                                <div class="rating">
                                    <span>★ 4.9 (30)</span>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                </div>

                
                </section>  

                
            </section>
            
            <nav class="barra_navface">
                
                <img src="/static/imagenes/logoface.svg" alt="" class="icon-footer"> <p class="text_redess">Facebook</p>
                <img src="/static/imagenes/logoins.svg" alt="" class="icon-footer"> <p class="text_redess">Instagram</p>
                <img src="/static/imagenes/logopint.svg" alt="" class="icon-footer"><p class="text_redess">Pinterest</p>
                <img src="/static/imagenes/logotwi.svg" alt="" class="icon-footer"><p class="text_redess">Twitter</p>

        </nav>
        
        </main>
    </div>
    </body>
    </html>