<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jahamina Paraguay</title>
    <link rel="stylesheet" href="/static/estilos.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
    crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"></head>
<body >
    
    <div class="Container">
        
        <header class="header">
            <div class="barra_nav5">
                <img src="/static/imagenes/logojahamina.jpg">
            </div>
            <nav class="barra_nav">
                <section class="section_nav0">
                <!--    <p>Buscar <input type="search" name="" id=""></p>-->
                </section>
                <section class="section_nav">
                    <div class="nav_list">
                        <a class="tags">Inicio</a>
                        <a href="nosotros.html" class="tags">Sobre nosotros</a>
                        <a href="destinos.html" class="tags">Destinos</a>
                        <a href="gaastronomia.html" class="tags">Gastronomía</a>
                        <a href="relax.html" class="tags">Relax</a>
                        <a href="iniciesesion.html" class="tags">Iniciar Sesión</a>            
                    </div>
                </section>
                <section class="section_nav2">
                    <!--<img src="/static/imagenes/logoface.svg" alt="">
                    <img src="/static/imagenes/logoins.svg" alt="">
                    <img src="/static/imagenes/logopint.svg" alt="">
                    <img src="/static/imagenes/logotwi.svg" alt="">
                -->
                </section>
            </nav>
        </header>
        
        <main class=".main">
            <article class="bannerindex">
                <!--banner de imagen central-->>
            </article>

            <section class="card1">                
                <div class="card1-1">
                    <p class="frases">Viajar te deja sin palabras y luego te convierte en un narrador de historias</p>
                </div>

                <div class="card1-2">
                    <div class="contenedor">
                        <img src="/static/imagenes/central.jpeg" class="cards"/>
                        <div class="card-text">Central</div> 
                    </div>
                    <div class="contenedor">
                        <img src="/static/imagenes/itapua.png" alt="" class="cards">
                        <div class="card-text">Itapúa</div> 
                    </div>
                    <div class="contenedor">
                        <img src="/static/imagenes/cuidade del este.jpg" alt="" class="cards">
                        <div class="card-text">Ciudad del Este</div> 
                    </div>
                </div>
            </section>

            <section class="banner-intermedio">
                <p class="frases">Sitios alternativos</p>
                <img src="/static/imagenes/senatur.png" class="img-alter">
                <img src="/static/imagenes/visit-paraguay.png" alt="" class="img-alter">
                <img src="/static/imagenes/atyguasu_logo.svg" alt="" class="img-alter">
            </section>

            <article class="banner2">
                <!--banner de imagen central-->>
            </article>

        
            <div class="card1">
                <p class="frases">#JAHAMINA_TE_ACOMPAÑA&#128153;</p>
            </div>

            <article class="post">
                <section class="posteos-index">
                    <div class="center-img">
                        <img src="/static/imagenes/post1.jpg" alt="" class="img-post">
                        
                            <div class="post-description">
                                <div class="d-flex ml-3">
                                    <img src="/static/imagenes/loogouser.svg">
                                    <div class="mt-3">
                                        <b><p id="description">Marcos Riveros</p></b>
                                        <p id="description"> 1 dic 2023</p>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <b><p class="fs-5">Conectando con la naturaleza en la cima del mundo 🌲✨</p></b>
                                    <p class=""> A veces, lo único que necesitas es un momento de paz y una vista que te deje sin aliento. #Naturaleza #Aventura #Serenidad"</p>
                                </div>
                                <div class="like">
                                    <br>
                                </div>


                                <div class="wrapperin">
                                    <form action="">
                                    <h1>Comentarios</h1>
                                        
                                    <div class="input-boxin">
                                        <input type="texti" placeholder="Comentar" required>
                                    </div> 
                                        </form>
                                    </div>
                               
                            </div>                
                    </div>
                </section>
                </article>
            <article class="post">
                <section class="posteos-index">
                    <div class="center-img">
                        <img src="/static/imagenes/post2.jpg" alt="" class="img-post">
                        
                            <div class="post-description">
                                <div class="d-flex ml-3">
                                    <img src="/static/imagenes/loogouser.svg">
                                    <div class="mt-3">
                                        <b><p id="description">Patricia Cabrera</p></b>
                                        <p id="description"> 21 jan 2024</p>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <b><p class="fs-5">Sushi para compartir y disfrutar al máximo 🍣🍱</p></b>
                                    <p>¡Nada como una buena compañía y un festín de sabores! #SushiLovers #CenaPerfecta #BuenComer</p>
                                </div>
                                <div class="like">
                                    <br>
                                </div>
                               
                                <div class="wrapperin">
                                    <form action="">
                                    <h1>Comentarios</h1>
                                        
                                    <div class="input-boxin">
                                        <input type="texti" placeholder="Comentar" required>
                                    </div> 
                                        </form>
                                    </div>
                                        
                                    </div> 
                                    
                                   
                               
                            </div>
                        </div>
                    </section>
                </article>
            </main>
                
        <footer class="footer">
            <article class="footer-menu">

                <div class="cont_cuadros">
                    <div class="card1"> <div class="texto-estatico"><h1>INFORMACIÓN ESENCIAL</h1></div></div>
                     <div class="inf-grid">
                         <div class="inf-item">
                     
                             <p>Villa Hayes</p>
                         </div>
                         <div class="inf-item">
                             
                             <p> Concepción</p>
                         </div>
                         <div class="inf-item">
                             <p>San Pedro</p>
                         </div>
                         <div class="inf-item">
                             <p>Cordillera</p>
                         </div>
                         <div class="inf-item">
                             <p>Guairá</p>
                         </div>
                         <div class="inf-item">
                             <p>Caaguazú</p>
                         </div>
                         <div class="inf-item">
                             <p>Divisas y cambio de moneda</p>
                         </div>
                         <div class="inf-item">
                             <p>Impuestos y Propinas</p>
                         </div>
                         <div class="inf-item">
                             <p>Idioma</p>
                         </div>
                         <div class="inf-item">
                             <p>Servicios de Salud</p>
                         </div>
                         <div class="inf-item">
                             <p>Seguridad</p>
                         </div>
                         <div class="inf-item">
                             <p>Comunicaciones</p>
                         </div>
                     </div>
                 </div>
 

                <div class="card1">
                    <p class="texto-estatico" >#JAHAMINA <span class="texto-cambiante"></span></p>
                </div>

                

                <div class="cand-group">
                    <div class="cand">
                        <img src="/static/imagenes/comidas-tipicas-paraguay-neahoy.jpeg">
                        <div class="layer"></div>
                        <div class="info">
                            <h2>Gastronomia</h2>
                            <p>Hecha un vistazo a las mejores comidas del Paraguay.</p>
                            <a href="gaastronomia.html"><button>Ver más</button></a>
                        </div>
                    </div>
                    
                    <div class="cand">
                        <img src="/static/imagenes/destinos.webp">
                        <div class="layer"></div>
                        <div class="info">
                            <h2>Destinos</h2>
                            <p>Hecha un vistazo a las mejores destinos del Paraguay.</p>
                            <a href="destinos.html"> <button>Ver más</button></a>
                        </div>
                    </div>
                    
                    <div class="cand">
                        <img src="/static/imagenes/maxresdefault.jpg">
                        <div class="layer"></div>
                        <div class="info">
                            <h2>Entretenimiento</h2>
                            <p>Hecha a los mejores pasatiempos que puedas tener.</p>
                            <a href="entretenimiento.html"><button >Ver más</button></a> 
                        </div>
                    </div>
                    <div class="cand">
                        <img src="/static/imagenes/Fotos De Parejas.jpeg">
                        <div class="layer"></div>
                        <div class="info">
                            <h2>Relax</h2>
                            <p>Ve los mejores lugares donde puedas relajarte sin ningun problema.</p>
                            <a href="relax.html"><button>Ver más</button></a>
                        </div>      
                    </div>
                </div>
                
            </article>
            <nav class="barra_navface">
                
                    <img src="/static/imagenes/logoface.svg" alt="" class="icon-footer"> <p class="text_redess">Facebook</p>
                    <img src="/static/imagenes/logoins.svg" alt="" class="icon-footer"> <p class="text_redess">Instagram</p>
                    <img src="/static/imagenes/logopint.svg" alt="" class="icon-footer"><p class="text_redess">Pinterest</p>
                    <img src="/static/imagenes/logotwi.svg" alt="" class="icon-footer"><p class="text_redess">Twitter</p>

            </nav>
        </footer>
        
        </div>

</body>
</html>